.button{
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: var(--rounded);
	cursor: pointer;
	transition: all 300ms ease;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
	height: 4rem;
	padding: 1.5rem 3rem ;
	flex: 1;

	color: var(--color-text-contrast);
	background-color: var(--color-default);

	@media (min-width:1200px) {
		height: 3.5rem;
		padding: 1rem 3rem;
		flex: auto;
	}

	&:hover{
		filter: brightness(70%);
		-webkit-filter: brightness(70%);
		-moz-filter: brightness(70%);
		color: var(--color-text-contrast);
	}

	&[data-type*=info]{
		border-color: var(--color-info);
		color: var(--color-text-contrast);
		background-color: var(--color-info);
	}

	&[data-type*=success]{
		border-color: var(--color-success);
		color: var(--color-text-contrast);
		background-color: var(--color-success);
	}

	&[data-type*=warning]{
		border-color: var(--color-warning);
		color: var(--color-text-contrast);
		background-color: var(--color-warning);
	}

	&[data-type*=danger]{
		border-color: var(--color-danger);
		color: var(--color-text-contrast);
		background-color: var(--color-danger);
	}

	&[data-type*=submit]{
		border-color: var(--color-main-one);
		color: var(--color-text-contrast);
		background-color: var(--color-main-one);
	}
}

.buttonIcon {
	composes: button;
	aspect-ratio: 1/1;
	overflow: hidden;
	height: 4rem;
	width: 4rem;
    padding: 0;

	@media (min-width:1200px) {
		height: 3.5rem;
		width: 3.5rem;
	}
}