.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width:1024px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overlayer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;

    .empty{
        flex: 1;
    }

    .card{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border-radius: calc(var(--rounded) * 2) calc(var(--rounded) * 2) 0 0 ;
        width: 100%;
        height: fit-content;
        bottom: 0px;
        left: 0px;
        box-shadow: 0px -10px 10px -5px var(--shadow);
        background-color: var(--color-background);
    
        .sample{
            padding: 1rem;
            margin: 1rem 0;
            background-color: var(--color-foreground-two);
            border-radius: var(--rounded);
        }
    }
    
}

.listItem{
    padding: 1rem;
    border-radius: var(--rounded);
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width:1024px){
        border-color: transparent;
        align-items: center;
        flex-direction: row;
    }

    .tag{
        font-weight: 400;
        margin: .1rem;
        padding: .3rem .6rem;
        background: var(--color-main-one);
        border-radius: var(--rounded);
    }

    .content{
        padding: 1rem;
        border-radius: calc(var(--rounded) * 0.5);
        flex: 1;
        color: var(--color-text);
        color: var(--color-text);
        gap: .5rem;
        display: flex;
        flex-direction: row;
        background-color: var(--color-foreground-one);
        justify-items: center;

        @media (min-width:1024px){
            background-color: transparent;        
            &:hover{
                background-color: var(--color-foreground-one);
            }
        }

        .title{
            font-weight: 500;
            gap: .5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }

        .subitems{
            opacity: .6;
        }
    }

    &:hover{
        border-color: var(--color-border);
    }

    .action{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        user-select: none;
    }

}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width:768px){
        flex-direction: row;
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
    }
}