.container{
    display: flex;
    flex: 1;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.bar{
    display: flex;
    padding: 2rem;
    flex-direction: column;

    a{
        padding: 1rem;

        &:hover{
            color: var(--color-text-contrast);
            background-color: var(--color-main-one);
        }
    }

    @media (min-width: 768px) {
        width: 24rem;
    }
}

.display{
    display: flex;
    flex:1;
    padding: 2rem;
}